.link {
    color: var(--branco);
    font-size: 1vw;
    font-weight: 400;
    padding: 1vw;
    text-decoration: none;
}

.link:hover{
    color: var(--cor-secundaria);
}
@media (max-width: 1024px) {
    .link {
        font-size: 2.5vw;
    }
}