:root{
    --fonte: "Roboto", sans-serif;
    --branco: #FFFFFF;
    --preto: #000000;
    --cor-fundo: #0E141B;
    --azul-medio: #1875E8;
    --cor-fonte: #FFFFFF;
    --cor-bordas:#2d2d2d;
    --cor-secundaria: #FF5277;
    --cor-selection: #43a9a3;
  }
  
  body {
    margin: 0;
    font-family: var(--fonte);
    color: var(--cor-fonte);
    background-color: var(--cor-fundo);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection{
      background: var(--cor-selection);
  }